﻿#todo-list li .destroy {
    display: none;
    position: absolute;
    top: 10px;
    right: 70px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 12px;
    color: #cc9a9a;
    margin-bottom: 8px;
    transition: color 0.2s ease-out;
}

    #todo-list li .destroy:hover {
        color: #af5b5e;
    }

    #todo-list li .destroy:after {
        content: '×';
    }

#todo-list li:hover .destroy {
    display: block;
}

#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    #todo-list li {
        position: relative;
        font-size: 20px;
    }

        #todo-list li:last-child {
            border-bottom: none;
        }

        #todo-list li.editing {
            border-bottom: none;
            padding: 0;
        }

.todoEditTemplate {
    padding: 20px;
}

    .todoEditTemplate .panel-title {
        /*background-color: ;*/
        text-align: center;
        text-align: center;
        display: inline-block;
        width: 150px;
        font-size: xx-large;
        font: bold;
    }

#todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-appearance: none;
}
