﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*WorkOrder List*/
.filterControl {
    background-color: #928787;
    display: inline-flex;
    margin-right: 10px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    height: 36px;
    margin-bottom: 5px;
}

    .filterControl span.close {
        color: white;
        font-size: 15px;
        line-height: 1.6;
    }

        .filterControl span.close:hover {
            color: red;
        }

#Filters {
    display: block;
}
