﻿@model FSC.DataLeyer.OrderItem
@*<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>*@
@using (Html.BeginForm("CreateOrderItem", null, FormMethod.Post, new { id = "newOrderItem" }))
{
    <div class="modal-header">
        <button class="close" data-dissmiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Dodaj nową pozycje</h4>
    </div>

    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.OrderItemId)
            @Html.HiddenFor(model => model.WorkOrderId)

            <div class="form-group">
                @Html.LabelFor(model => model.ServiceItemCode, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ServiceItemCode, new { htmlAttributes = new
                    {
                       @class = "ui-autocomplete-input form-control",
                       data_url= Url.Action("GetServiceItemForAutocomplete", "WorkOrder")
                    } })
                    @Html.ValidationMessageFor(model => model.ServiceItemCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ServiceItemName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ServiceItemName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ServiceItemName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control",onchange= "WorkOrder.calculateExtendedPrice()" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", onchange = "WorkOrder.calculateExtendedPrice()" } })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExtendedPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ExtendedPrice, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                    @Html.ValidationMessageFor(model => model.ExtendedPrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Zapisz" class="btn btn-primary" />
        <button class="btn btn-default" data-dissmiss="modal">Anuluj</button>
    </div>



}


