﻿@model FSC.DataLeyer.OrderItem

<div class="modal-header">
    <button class="close" data-dissmiss="modal" aria-hidden="true">&times;</button>
    <h4>Czy na pewno chcesz usunąć?</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceItemCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceItemCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedPrice)
        </dd>

    </dl>
</div>
<div class="modal-footer">
 
        @Html.ActionLink("Usuń", "DeleteOrderItemConfirmed",
                   new { orderItemId = Model.OrderItemId, workOrderId = Model.WorkOrderId },
                   new { @class = "btn btn-danger" })
        <button class="btn btn-default" data-dissmiss="modal">Anuluj</button>

    
</div>
