﻿<form id="FormFilters" action='/' method='post'>
    <div id="FiltersControls">
    </div>
    <div class="pull-right">
        <button type='submit' class="btn btn-primary">Filtruj</button>
        <div class="contenerfiltrowOption dropdown" id="contenerfiltrow" style="display:inline-block">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dodaj filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="contenerfiltrowOption"></ul>
        </div>
        <button id="SaveFilters" class="btn ">Zapisz filtry</button>
    </div>
</form>
