﻿@model IEnumerable<FSC.DataLeyer.OrderItem>


<table id="orderItem" class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtendedPrice)
        </th>
        <th>
            @Html.ActionLink("Dodaj Nowy", "CreateOrderItem",
           new { workOrderId = ViewBag.WorkOrder },
           new { @class = "btn btn-primary btn-sm", data_modal = "" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceItemName)
            </td>
            <td id="Quantity">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td id="Rate">
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td  id="ExtendedPrice">
                @Html.DisplayFor(modelItem => item.ExtendedPrice)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditOrderItem",
                   new { orderItemId = item.OrderItemId },
                   new { @class = "btn btn-default btn-sm", data_modal = "" })
                @Html.ActionLink("Usuń", "DeleteOrderItem",
                   new { orderItemId = item.OrderItemId },
                   new { @class = "btn btn-danger btn-sm", data_modal = "" })
            </td>
        </tr>
    }

</table>
