﻿@model IEnumerable<FSC.ViewModels.WorkOrderListVM>
<div id="ListWorkOrders">

    <table class="table" id="workOrders">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <span>Faktura</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td id="Invoice">
                    @if (item.Invoiced)
                    {
                        foreach (var itemIvoice in item.InvoiceDocuments)
                        {
                            <span><b><a href=@Url.Action("Show","api/Invoice/",new {id= @itemIvoice.Url })>@itemIvoice.InvoiceNmuber</a></b></span><br />
                        }
                    }
                    else
                    {
                        <div id="invoice-@item.WorkOrderId" class="btn btn-primary" data-invoiceid=@item.WorkOrderId>Wystaw fakturę</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderId })

                </td>
            </tr>
        }

    </table>
</div>