﻿@model FSC.DataLeyer.WorkOrder

@{
    ViewBag.Title = "Zamówienie";
}
<div id="partsModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="partsModalContent">
            </div>
        </div>
    </div>
</div>

<h2>@ViewBag.Title </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.WorkOrderId)
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.CompanyName, "Firma", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(x => x.Customer.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-offset-5 col-lg-6">
        @{ Html.RenderAction("ListOrderitem", "WorkOrder", new { workOrderId = Model.WorkOrderId });}
    </div>
</div>
<div>
    @Html.ActionLink("Wróć do listy zamówień", "Index", null, new { @class = "btn btn-primary" })
</div>


@section Scripts{
    <script src="~/js/ViewModel/workOrder.js" type="text/javascript"></script>
    <script type="text/javascript">
        WorkOrder.init();
    </script>
}