﻿@model IEnumerable<FSC.ViewModels.WorkOrderListVM>

@{
    ViewBag.Title = "Zamówienia";
}
<br /><br />
<div id="Filters">
    @Html.Partial("_Filters")
</div>

<div>
    @Html.ActionLink("Utwórz nowe zamówienie", "Create", null, new { @class = "btn btn-default" })

</div>

@Html.Partial("_ListWorkOrders")


@section scripts{

    <script>

        $("tr #Invoice div.btn").on("click", function (e) {
            e.preventDefault();

            var workOrderId = $(this).data("invoiceid");
            var thisReference = this;
            bootbox.confirm("Czy fakturować?", function (result) {
                if (result == true) {
                    getInvoiceNumber(workOrderId, thisReference);
                }
            });
        });

        var getInvoiceNumber = function (workOrderId, thisReference) {
            var data = {
                WorkOrderId: workOrderId,
            };
            $.ajax({
                url: "/api/Invoice/",
                type: "POST",
                data: data,
                success: function (result) {
                    showInvoiceNumber(result, thisReference);
                },
                error: function (msg) {
                    errorMessage("Błąd fakturowania " + msg);
                },
            });

        };
        var showInvoiceNumber = function (result, thisReference) {
            var urlTemplate = "<a href='" + result.Url + "' >" + result.InvoiceNmuber + "</a>";
            $(thisReference).closest("#Invoice").html("<span><b> " + urlTemplate + "</b></span>");

        };
        var errorMessage = function (message) {
            bootbox.alert({
                title: 'Błąd',
                message: message,
                callback: function () { }
            });
        };

    </script>

}
@section scripts_Filters{
    <script src="~/js/Filters/filtersGenerator.js"></script>
    <script src="~/js/Filters/workOrderFilters.js"></script>
}