﻿
@{
    ViewBag.Title = "Listy";
}
<link href="~/Content/checkList.css" rel="stylesheet" />
<style>
    .main {
        background-color: #CCC;
        -webkit-transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out;
        text-align: center;
    }
</style>
<section>
    <header>
        <h1>Listy</h1>
        <div class="row">
            <div class="col-md-3 col-md-offset-0">
                <input placeholder="Nazwa listy" data-bind="value: newCheckListsTitle , valueUpdate: 'afterkeyup', enterkey: Add " />
                <button data-bind="click: Add, enable: newCheckListsTitleAvailable " class="btn btn-primary">Dodaj    </button>
            </div>
        </div>
    </header>

    <div class="row">
        <section>
            <div class="col-md-3 col-md-offset-0 ">
                <ul data-bind="foreach:{data: taskLists, afterAdd: animateAdd, beforeRemove: animateRemove } " style="padding-left:0">
                    <li class="list-group-item">
                        <span data-bind="text:description ,click: $parent.showCheckList" class="btn btn-default " ></span>
                        <span data-bind="click: $parent.removeCheckList" class="btn btn-danger pull-right  ">Usuń</span>
                    </li>
                </ul>
                <div>
                    <span> List: </span><span data-bind="text:vm.taskLists().length"></span>
                </div>
            </div>
        </section>
        <section>
            <div class="col-md-4 col-md-offset-1 ">
                <div class="todoEditTemplate" data-bind="if :editCheckList()">
                    <div class="row  " >
                        <div data-bind="text: editCheckList().description" class="panel-title"></div>
                        <div class="btn btn-primary  pull-right" data-bind="click: update">Zapisz zmiany</div>
                    </div>
                    <section id="todoapp">

                        <div data-bind="if :editCheckList()"  >
                            <input type="text" placeholder="Dodaj element" data-bind="value: newElemntCheckList ,valueUpdate: 'afterkeyup',  enterkey: AddCheckListItem" />
                            <button data-bind="click: AddCheckListItem " class="btn btn-primary ">Dodaj  </button>
                        </div>
                        <div class="row ">
                            <ul data-bind="foreach: taskListItems" id="todo-list">
                                <li class="">
                                    <input type="checkbox" data-bind="checked: isCompleted" style="margin-top:-10px" />

                                    <input type="text" data-bind="value: description  , disable: isCompleted" class="" />

                                    <button class="destroy" data-bind="click: $parent.RemoveCheckListItem"></button>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>

        </section>
    </div>

</section>






@*<section id="todoapp">
        <header id="header">
            <h1>Listy</h1>
            <input id="new-todo" data-bind="value: current, valueUpdate: 'afterkeydown', enterKey: add" placeholder="What needs to be done?" autofocus>
        </header>
        <section id="main" data-bind="visible: todos().length">
            <input id="toggle-all" data-bind="checked: allCompleted" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list" data-bind="foreach: taskListItems">
                <li data-bind="css: { completed: completed, editing: editing }">
                    <div class="view">
                        <input class="toggle" data-bind="checked: completed" type="checkbox">
                        <label data-bind="text: title, event: { dblclick: $root.editItem }"></label>
                        <button class="destroy" data-bind="click: $root.remove"></button>
                    </div>
                    <input class="edit" data-bind="value: title, valueUpdate: 'afterkeydown', enterKey: $root.saveEditing, escapeKey: $root.cancelEditing, selectAndFocus: editing, event: { blur: $root.saveEditing }">
                </li>
            </ul>
        </section>
        <footer id="footer" data-bind="visible: completedCount() || remainingCount()">
            <span id="todo-count">
                <strong data-bind="text: remainingCount">0</strong>
                <span data-bind="text: getLabel(remainingCount)"></span> left
            </span>

        </footer>
    </section>*@


@section Scripts {
    <script src="~/js/ViewModel/Task.js"></script>

    @*<script type="text/javascript">
            var TodoViewModel = function () {
                var self = this;

                self.divText = ko.observable();
                self.divInput = ko.observable();


            };
            var vm = new TodoViewModel();
            ko.applyBindings(vm);
        </script>*@
}
